.item {
  display: flex;
  padding: 8px;
  border-bottom: solid 1px rgb(255, 255, 255);
}
.item:first-child {
  border-top: solid 1px rgb(255, 255, 255);
}
.item:last-child {
  border: none;
}
.name_profit {
  color: green;
  display: flex;
  width: 110px;
}
.name_loss {
  color: red;
  display: flex;
  width: 110px;
}

.dataItem_profit {
  color: green;
  display: inline-block;
  width: 110px;
}
.dataItem_loss {
  color: red;
  display: inline-block;
  width: 110px;
}
.dataItem {
  display: inline-block;
  width: 110px;
  color: rgb(76, 91, 98);
}
.greenArrow {
  color: green;
  font-size: 26px;
}
.redArrow {
  color: red;
  font-size: 26px;
}
.titleList {
  padding: 8px;
  display: flex;
}

.itemTitle {
  font-size: 18px;
  font-weight: 400;
  color: rgb(29, 63, 78);
  width: 110px;
  list-style: none;
}
.container {
  border: 1px solid white;
  border-radius: 4px;
  width: 800px;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
}
