.list {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  margin-bottom: 25px;
}

.button {
  padding: 8px;
  display: flex;
  justify-content: space-evenly;
  width: 150px;
  border: 1px solid rgb(14, 13, 13);
  border-radius: 2px;
}
.redArrowButton {
  background-color: red;
  width: 20px;
  height: 20px;
  border: solid 1px black;
  border-radius: 2px;
  text-align: center;
  display: flex;
  justify-content: center;
}
.greenArrowButton {
  background-color: green;
  width: 20px;
  height: 20px;
  border: solid 1px black;
  border-radius: 2px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.input {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  height: 20px;
  width: 300px;
}

.text_profit {
  color: green;
}
.text_loss {
  color: red;
}
